body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f2f2f2;
}

.header {
    background: #0f172a;
    color: white;
    padding: 50px;
    text-align: center;
}

section {
    background: white;
    margin: 20px;
    padding: 30px;
    border-radius: 8px;
}

h2 {
    color: #0f172a;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background: #f5f5f5;
    margin: 8px 0;
    padding: 10px;
    border-radius: 5px;
}

footer {
    background: #111;
    color: white;
    text-align: center;
    padding: 15px;
}
